<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- 全局依赖 ==== 所有页面都要有 -->
<link rel="stylesheet" type="text/css" href="../../plugin/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="../../plugin/nprogress/nprogress.css">
<link rel="stylesheet" type="text/css" href="../../src/css/erp.css">
<!-- /全局依赖 -->

  <title>项目明细清单</title>
</head>

<body id="index">
  <!-- 通用布局 === 复用 -->
  <div class="index-navbar ui menu blue-background">
    <span id="sidebarBtn" class="index-navbar-item-left pull-left">
      <i class="sidebar icon"></i>
      <span>森乾科技</span>
    </span>
    <div class="index-navbar-item-show right menu">
      <a class="item">
        <i class="user icon"></i>
        <span>管理员</span>
      </a>
      <a class="item">
        <i class="help circle icon"></i>
        <span>帮助</span>
      </a>
      <a class="item">
        <i class="sound icon"></i>
        <span>客服</span>
      </a>
      <a class="item">
        <i class="power icon"></i>
        <span>退出</span>
      </a>
    </div>
    <div class="index-navbar-item-hidden margin-right ui dropdown">操作
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#">
          <i class="user icon"></i>
          <span>管理员</span>
        </a>
        <a class="item">
          <i class="help circle icon"></i>
          <span>帮助</span>
        </a>
        <a class="item">
          <i class="sound icon"></i>
          <span>客服</span>
        </a>
        <a class="item">
          <i class="power icon"></i>
          <span>退出</span>
        </a>
      </div>
    </div>
  </div>
  <div class="index-aside">
    <div class="ui vertical index-aside-style accordion menu">
      <div class="item" id="navIndex">
        <a class="title" href="../index/index.html">
          <span>
            <i class="icon home"></i>首页</span>
        </a>
      </div>
      <div class="item" id="navProject">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon sticky note"></i>项目立项管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item detail" href="../project/detail.html">项目明细清单</a>
            <a class="item list" href="../project/list.html">已立项清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navBudget">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon hashtag"></i>预算管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">预算清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navCheck">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon suitcase"></i>验收与收款管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item check">验收与收款清单</a>
            <a class="item month">本月请款清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navBuy">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon shopping basket"></i>采购管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">采购清单</a>
            <a class="item project-list">采购立项清单</a>
            <a class="item pay-list">采购付款清单</a>
            <a class="item charge-list">采购收票清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navStock">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="archive icon"></i>库存管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">库存清单</a>
            <a class="item buy-list">采购收货清单</a>
            <a class="item return-list">退料入货清单</a>
            <a class="item get-list">领料出货清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navBuild">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon legal"></i>施工管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">施工费清单</a>
            <a class="item deal-list">备案合同清单</a>
            <a class="item finish-list">完工请款清单</a>
            <a class="item pay-list">施工付款清单</a>
            <a class="item get-list">施工收票清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navLoan">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon ordered list"></i>报销与借款管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">报销与借款清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navPay">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon yen"></i>费用付款管理</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item list">付款审批清单</a>
          </div>
        </div>
      </div>
      <div class="item" id="navData">
        <div class="title">
          <i class="dropdown icon"></i>
          <span>
            <i class="icon database"></i>数据维护</span>
        </div>
        <div class="content">
          <div class="ui secondary vertical menu">
            <a class="item auth">人员权限</a>
            <a class="item supplier">供应商</a>
            <a class="item materiel">物料</a>
            <a class="item warehouse">仓库</a>
            <a class="item bank">银行账户</a>
            <a class="item team">施工队</a>
            <a class="item payment">报销费用类型</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /通用布局 -->

  <!-- 主体内容 === 不可复用 -->
  <div class="index-content">

<div class="ui breadcrumb">
  <a class="section">项目立项管理</a>
  <div class="divider"> / </div>
  <div class="active section">项目明细清单</div>
</div>

<!-- 操作区域 -->
<div class="content-operation flex-row flex-between">
  <div>
    <a class="ui green button" href="#">
      <i class="icon download"></i>
      <span>Excel 导出</span>
    </a>
  </div>
  <div class="ui left action right input fluid flex-fluid">
    <div class="ui button white dropdown ">
      <input name="seartch-type" type="hidden">
      <div class="text">请选中搜索内容</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="1">项目号</div>
        <div class="item" data-value="2">项目内容</div>
      </div>
    </div>
    <input type="text" placeholder="搜索内容" value="">
    <button class="ui button">搜索</button>
  </div>
</div>
<!-- / 操作区域 -->


<!-- 表格循环 -->
<div class="content-wrap">
  <table class="ui celled structured table">
    <thead>
      <tr>
        <th rowspan="2">类型</th>
        <th rowspan="2">项目</th>
        <th rowspan="2">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4">基本</td>
        <td>项目号</td>
        <td>1234232</td>
      </tr>
      <tr>
        <td>项目内容</td>
        <td class="detail__content">这是项目内容这是项目内容这是项目内容这是项目内容</td>
      </tr>
      <tr>
        <td>项目经理</td>
        <td>程先生</td>
      </tr>
      <tr>
        <td>合同金额</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td rowspan="2">
          <p>项目实际金额</p>
          <p>22,423,222 ￥</p>
        </td>
        <td>主合同金额</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>分包合同金额</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td rowspan="6">金额相关</td>
        <td>验收金额</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>已开票请款</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>主合同收款</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>分包合同收款</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>应收账款</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>项目剩余未收款</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td rowspan="5">
          <p>已发生成本</p>
          <p>12,423,222 ￥</p>
        </td>
        <td>领料成本</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>施工成本</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>报销项目成本</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>费用付款其他成本</td>
        <td>12,423,222 ￥</td>
      </tr>
      <tr>
        <td>退料成本</td>
        <td>12,423,222 ￥</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- / 表格循环 -->

</div>
<!-- /主体内容 === 不可复用 -->

<!-- 全局依赖 js === 通用 -->
<script src="../../plugin/jquery/jquery.3.2.1.min.js"></script>
<script src="../../plugin/semantic/dist/semantic.min.js"></script>
<script src="../../plugin/lodash/lodash.min.js"></script>
<script src="../../plugin/nprogress/nprogress.js"></script>
<script src="../../plugin/layDate/laydate.js"></script>
<script src="../../src/js/helper.js"></script>
<script src="../../src/js/database.js"></script>
<script src="../../src/js/global.js"></script>
<!-- / 全局依赖 js === 通用 -->
<!-- 独立 js -->
<script src="../../src/js/project_detail.js"></script>
<!-- / 独立 js -->
</body>

</html>